{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section>
    <div class="row contact-row">
      <div class="col-12 col-md-4 bg-color-personal-info section-column">
        <h3 class="section-heading uppercase">Personel Info</h3>
        <div class="personal-info-item">
          <div class="key">
            <p class="uppercase">Name:</p>
          </div>
          <div class="value">
            <p>Max Bland Wiseman</p>
          </div>
        </div>
        <div class="personal-info-item">
          <div class="key">
            <p class="uppercase">Residing:</p>
          </div>
          <div class="value">
            <p>United Kingdom, Devon</p>
          </div>
        </div>
        <div class="personal-info-item">
          <div class="key">
            <p class="uppercase">Email:</p>
          </div>
          <div class="value">
            <p>maxwise70@hotmail.co.uk</p>
          </div>
          <div id="map" class="mt-4">
            {% include 'main/google_maps.html' %}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-8 bg-color-contact section-column justify-content-center">
        <h3 class="contact-heading uppercase text-center white-text p-3">Fancy a chat?</h3>
        <h5 class="uppercase text-center white-text mb-4">Get hold of me here!</h5>
        <div class="card center-form mb-3">
          <form class="form" onsubmit="return sendMail(this)">
            <div class="group">
              <input id="fullname" name="name" placeholder="" type="text" required />
              <label for="fullname">Name</label>
            </div>
            <div class="group">
              <input placeholder="" type="email" id="emailaddress" name="emailaddress" required />
              <label for="emailaddress">Email</label>
            </div>
            <div class="group">
              <textarea placeholder="" id="comment" name="comment" rows="5" required></textarea>
              <label for="comment">Comment</label>
            </div>
            <button id="send" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
