{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-lg-3 bg-color-personal-info section-column">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading uppercase">
                        Personel Info
                    </h3>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">
                        Name:
                    </p>
                </div>
                <div class="value">
                    <p>
                        Max Bland Wiseman
                    </p>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">
                        Residing:
                    </p>
                </div>
                <div class="value">
                    <p>
                        United Kingdom, Devon
                    </p>
                </div>
            </div>
            <div class="personal-info-item">
                <div class="key">
                    <p class="uppercase">
                        Email:
                    </p>
                </div>
                <div class="value">
                    <p>
                        maxwise70@hotmail.co.uk
                    </p>
                </div>
                <div id="map" class="mt-4">
                    {% include 'main/google_maps.html' %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-9 bg-color-three-reasons section-column">
            <div class="row">
                <div class="col">
                    <h3 class="section-heading uppercase">About Me</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa-solid fa-circle-question" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Who am I?</h4>
                            <p>Hello! My name is Max, and I'm eager to learn and grow in the tech industry
                                at a respected company, where I can contribute to meaningful projects and make a positive impact.</p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">What do I do?</h4>
                            <p>I am a graduate in full-stack software development, specializing in predictive analytics.
                                My education was based at the Code Institute, an institution accredited by the University
                                of the West of Scotland. I achieved an overall merit grade, determined by
                                five submitted projects, which received the following individual assessments:
                                Pass, Pass, Merit, Pass, and Distinction. Further details on my
                                projects can be found in the portfolio section. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6 last-item">
                    <div class="row mt-lg-5">
                        <div class="col-2 mt-lg-5">
                            <i class="three-reasons-icon fa fa-comment-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-10 mt-lg-4">
                            <h4 class="three-reasons-heading uppercase">Why do I do it?</h4>
                            <p>I thrive on challenges and the satisfaction of solving complex problems.
                                Dedication is a core part of my character, which I feel is reflected by enjoying the gym five days a week.
                                Discipline that directly translates into my strong work ethic. I am highly social and genuinely
                                enjoy meeting new people, embracing every interaction with positivity and enthusiasm.
                                My openness to new experiences and knowledge fuels my continuous pursuit of personal and professional growth,
                                 as I am always seeking fresh challenges and opportunities to expand my horizons.
                            </p>
                        </div>
                    </div>
                </div>
</section>
{% endblock %}