{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-color-conferences section-column">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading uppercase">
                        Conferences And Meetups Attended
                    </h3>
                </div>
            </div>
            <div id="map">

            </div>
        </div>
        <div class="col-md-8 bg-color-groups">
            <div class="row">
                <div class="col">
                    <h3 class="section-heading uppercase">My Groups And Societies</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">lorem ipsum</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit voluptatem quidem
                                asperiores similique magnam, ea officia iusto? Nostrum unde perspiciatis deleniti
                                aperiam dolor voluptatum nihil odio explicabo sunt doloribus. Quasi!
                                <a href="https://codinggrace.com/" target="_blank">Coding Grace</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">lorem ipsum</h4>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui labore magnam quasi,
                                nostrum eius in optio sunt numquam accusamus! Neque ducimus ea provident ipsum
                                dolore voluptatem velit facere et aperiam.
                                <a href="https://djangogirls.org/" target="_blank">Django Girls</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">lorem ipsum</h4>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero eum nulla facere
                                reprehenderit praesentium impedit dolore. Atque magni non aspernatur animi nostrum
                                eaque laudantium suscipit. Labore, quia nam! Temporibus, illo!
                                <a href="https://www.meetup.com/javascript-full-stack-development/"
                                    target="_blank">Full Stack NY</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">lorem ipsum</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, tempora.
                                Mollitia illo commodi sunt minima exercitationem quo earum eum, in, delectus
                                corrupti quod nulla, error odio autem quibusdam non qui?
                                <a href="https://www.meetup.com/NYCIOT/" target="_blank">IoT Nation</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock %}