{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="container-fluid">
    <div class="row">
      <!-- Left Column: Work History -->
      <div class="col-md-4 bg-color-personal-info section-column">
        <div class="row">
          <div class="col-12">
            <h3 class="section-heading uppercase">Work History</h3>
          </div>
          <div class="timeline-container">
            <div class="timeline-item" data-dates="2011 - 2016">
              <h4 class="timeline-item-title">Exmouth Community College</h4>
              <p class="timeline-item-description">GSCE’s: Maths(C), English Lit(C), English Language(C), Combined Science(C), Systems and Control(C)</p>
            </div>
            <div class="timeline-item" data-dates="2016 - 2018">
              <h4 class="timeline-item-title">Southwest Metal Finishing Apprenticeship</h4>
              <p class="timeline-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis, fermentum nunc ac, ultricies nunc. Nullam ac ante mollis, fermentum nunc ac, ultricies nunc.</p>
            </div>
            <div class="timeline-item" data-dates="2018 - 2019">
              <h4 class="timeline-item-title">Howmet Aerospace</h4>
              <p class="timeline-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis, fermentum nunc ac, ultricies nunc. Nullam ac ante mollis, fermentum nunc ac, ultricies nunc.</p>
            </div>
            <div class="timeline-item" data-dates="2019 - 2023">
              <h4 class="timeline-item-title">Symrise</h4>
              <p class="timeline-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis, fermentum nunc ac, ultricies nunc. Nullam ac ante mollis, fermentum nunc ac, ultricies nunc.</p>
            </div>
            <div class="timeline-item" data-dates="Present">
              <h4 class="timeline-item-title">Studying level 5 diploma at Code Institue</h4>
              <p class="timeline-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis, fermentum nunc ac, ultricies nunc. Nullam ac ante mollis, fermentum nunc ac, ultricies nunc.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Column: Skills and Portfolio -->
      <div class="col-md-8 bg-color-three-reasons section-column">
        <!-- Portfolio Section -->
        <div class="row">
          <div class="col-12">
            <h3 class="section-heading uppercase">My Portfolio</h3>
          </div>
        </div>
        <div class="row">
          {% for project in projects %}
            <div class="col-12 col-md-6">
              {% include 'main/project_card.html' %}
            </div>
          {% empty %}
            <div class="col-12">
              <p>No projects available.</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
