<div class="col-12">
    <a href="{% url 'project_detail' project.slug %}" class="card-link; text-decoration-none">
        <div class="row card3" style="position: relative;">
            <div class="col-12 card-title">
                <h4 class="three-reasons-heading uppercase fs-5 text-center">{{ project.title }}</h4>
            </div>
            <div class="p-0 card-img-top">
                <img src="{{ project.project_banner_image.url }}" alt="Project Image" />
            </div>
            <div class="card-body p-0 text-center mt-2">
                <p>{{ project.description|safe }}</p>
            </div>
        </div>
    </a>
</div>