{% load static %}
<div class="col-12 project-card-container">
  <a href="{% url 'project_detail' project.slug %}" class="card-link; text-decoration-none">
    <div class="row card3" style="position: relative;">
      <div class="col-12 card-title" style="height:fit-content!important">
        <h4 class="uppercase fs-5 text-center">{{ project.title }}</h4>
      </div>
      <div class="p-0 card-img-top banner-container">
        {% if project.github_banner_image_url %}
          <img src="{{ project.github_banner_image_url }}" alt="{{ project.title }} Banner" class="project-banner-image" />
        {% else %}
          <img src="{% static "/images/abstract-orange-banner-.jpg" %}" alt="Default orange banner" class="project-banner-image" />
        {% endif %}
      </div>
      <div class="card-body p-0 text-center mt-2">
        <p>
          {{ project.description|striptags|slice:':130' }}{% if project.description|length > 130 %}...{% endif %}
        </p>
      </div>
    </div>
  </a>
</div>
