{% extends 'base.html' %}
{% load static %}
{% block content %}
  <section class="bg-color-three-reasons">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-12 text-center mt-5 ms-2 me-2">
          <img src="{{ project.project_banner_image.url }}" alt="Project Image" />
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center p-2">
          <div class="project-detail-container rounded mt-4 ms-2 me-2">
          <div class="row">
            <div class="col-12">
              <h3 class="uppercase bold mt-3">{{ project.title }}</h3>
            </div>
          </div>
          <br>
          <a href="{{ project.github_link }}" class="btn btn-primary mt-2" target="_blank">View on GitHub</a>
          <a href="{{ project.deployed_link }}" class="btn btn-primary mt-2" target="_blank">View Deployed Project</a>
          <hr>
          <article>
            <p class="text-center">{{ project.description|safe }}</p>
          </article>
        </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
