{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-color-personal-info section-column">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading uppercase">
                        Work History
                    </h3>
                </div>
                <div class="timeline-container">
                    <div class="timeline-item" data-dates="2011 - 2016">
                        <h4 class="timeline-item-title">Exmouth Community College</h4>
                        <p class="timeline-item-description">GSCE’s: Maths(C), English Lit(C), English Language(C),
                            Combined Science(C), Systems and Control(C) </p>
                    </div>
                    <div class="timeline-item" data-dates="2016 - 2018">
                        <h4 class="timeline-item-title">Southwest Metal Finishing Apprenticeship</h4>
                        <p class="timeline-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                            Nullam
                            ac
                            ante mollis, fermentum nunc ac, ultricies nunc. Nullam ac ante mollis, fermentum nunc
                            ac,
                            ultricies nunc.</p>
                    </div>
                    <div class="timeline-item" data-dates="2018 - 2019">
                        <h4 class="timeline-item-title">Howmet Aerospace</h4>
                        <p class="timeline-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                            Nullam
                            ac
                            ante mollis, fermentum nunc ac, ultricies nunc. Nullam ac ante mollis, fermentum nunc
                            ac,
                            ultricies nunc.</p>
                    </div>
                    <div class="timeline-item" data-dates="2019 - 2023">
                        <h4 class="timeline-item-title">Symrise</h4>
                        <p class="timeline-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                            Nullam
                            ac
                            ante mollis, fermentum nunc ac, ultricies nunc. Nullam ac ante mollis, fermentum nunc
                            ac,
                            ultricies nunc.</p>
                    </div>
                    <div class="timeline-item" data-dates="Present">
                        <h4 class="timeline-item-title">Studying level 5 diploma at Code Institue</h4>
                        <p class="timeline-item-description">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit.
                            Nullam
                            ac
                            ante mollis, fermentum nunc ac, ultricies nunc. Nullam ac ante mollis, fermentum nunc
                            ac,
                            ultricies nunc.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8 bg-color-three-reasons section-column">
            <div class="row">
                <div class="col">
                    <h3 class="section-heading uppercase">My Skills</h3>
                    <p class="section-heading fw-bold text-center p-background">My journey in the tech industry is
                        just
                        beginning, and I'm eager to learn and grow as a
                        developer. I hope to work in the tech industry at a respected company someday, where I can
                        contribute to meaningful projects and make a positive impact.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-tv" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Front End</h4>
                            <p>My solid grasp of HTML/HTML5 and CSS/CSS3 allows me to structure web content
                                elegantly and style layouts with finesse. Whether it’s optimizing responsive designs
                                or ensuring cross-browser compatibility, I take pride in transforming code into
                                seamless user experiences.

                                In addition to my technical skills, I bring a keen eye for aesthetics and a passion
                                for creating intuitive interfaces. My vision is to collaborate and craft digital
                                experiences
                                that leave a lasting impression.</p>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1 offset-sm-0 col-sm-4 col-md-6">
                    <div class="row">
                        <div class="col-2">
                            <i class="three-reasons-icon fa fa-gears" aria-hidden="true"></i>
                        </div>
                        <div class="col-10">
                            <h4 class="three-reasons-heading uppercase">Back End</h4>
                            <p>In Python, I use its readability for data manipulation, server-side logic, and
                                building robust APIs. Whether it’s handling databases, implementing authentication,
                                or optimizing performance, I enjoy creating efficient and scalable solutions.

                                JavaScript, while still a work in progress at 50%, is my next frontier. I’m already
                                exploring interactive buttons that respond, forms that validate, and
                                animations that engage users. My commitment to continuous learning drives me
                                forward, and I eagerly anticipate mastering these essential languages.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card row">
                    <div class="header">My Languages</div>
                    <div class="body">
                        <div class="skill">
                            <div class="skill-name html">HTML</div>
                            <div class="skill-level">
                                <div style="width: 75%" class="skill-percent1"></div>
                            </div>
                            <div class="skill-percent-number">75%</div>
                        </div>
                        <div class="skill">
                            <div class="skill-name css">CSS</div>
                            <div class="skill-level">
                                <div style="width: 75%" class="skill-percent2"></div>
                            </div>
                            <div class="skill-percent-number">75%</div>
                        </div>
                        <div class="skill">
                            <div class="skill-name js">JavaScript</div>
                            <div class="skill-level">
                                <div style="width: 65%" class="skill-percent3"></div>
                            </div>
                            <div class="skill-percent-number">65%</div>
                        </div>
                        <div class="skill">
                            <div class="skill-name html">Python</div>
                            <div class="skill-level">
                                <div style="width: 55%" class="skill-percent4"></div>
                            </div>
                            <div class="skill-percent-number">55%</div>
                        </div>
                        <div class="skill">
                            <div class="skill-name html">Sketch/Arduino</div>
                            <div class="skill-level">
                                <div style="width: 25%" class="skill-percent5"></div>
                            </div>
                            <div class="skill-percent-number">25%</div>
                        </div>
                    </div>
                </div>
                <div class="card row">
                    <div class="header">My Tools</div>
                    <div class="body">
                        <div class="skill">
                            <div class="skill-name html">Bootstrap</div>
                            <div class="skill-level">
                                <div style="width: 55%" class="skill-percent1"></div>
                            </div>
                            <div class="skill-percent-number">55%</div>
                        </div>
                        <div class="skill">
                            <div class="skill-name css">JQuery</div>
                            <div class="skill-level">
                                <div style="width: 55%" class="skill-percent2"></div>
                            </div>
                            <div class="skill-percent-number">55%</div>
                        </div>
                        <div class="skill">
                            <div class="skill-name js">Jest</div>
                            <div class="skill-level">
                                <div style="width: 55%" class="skill-percent3"></div>
                            </div>
                            <div class="skill-percent-number">55%</div>
                        </div>
                        <div class="skill">
                            <div class="skill-name html">Flask</div>
                            <div class="skill-level">
                                <div style="width: 55%" class="skill-percent4"></div>
                            </div>
                            <div class="skill-percent-number">55%</div>
                        </div>
                        <div class="skill">
                            <div class="skill-name html">Django</div>
                            <div class="skill-level">
                                <div style="width: 55%" class="skill-percent5"></div>
                            </div>
                            <div class="skill-percent-number">55%</div>
                        </div>
                    </div>
                </div>
</section>
{% endblock %}