{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-color-personal-info section-column">
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading uppercase">
                        Work History
                    </h3>
                </div>
                <div class="timeline-container">
                    <div class="timeline-item" data-dates="2011 - 2016">
                        <h4 class="timeline-item-title">Exmouth Community College</h4>
                        <p class="timeline-item-description">GSCE’s: Maths(C), English Lit(C), English Language(C),
                            Combined Science(C), Systems and Control(C) </p>
                    </div>
                    <div class="timeline-item" data-dates="2016 - 2018">
                        <h4 class="timeline-item-title">Southwest Metal Finishing Apprenticeship</h4>
                    </div>
                    <div class="timeline-item" data-dates="2018 - 2019">
                        <h4 class="timeline-item-title">Howmet Aerospace</h4>
                    </div>
                    <div class="timeline-item" data-dates="2019 - 2023">
                        <h4 class="timeline-item-title">Symrise</h4>
                    </div>
                    <div class="timeline-item" data-dates="2024-2025">
                        <h4 class="timeline-item-title">Achieved a level 8 Diploma in Full Stack Software Development, specialized in Predictive Analytics</h4>
                        <p class="timeline-item-description">Graded as Merit</p>
                    </div>
                    <div class="timeline-item" data-dates="March 2025 - Present">
                        <h4 class="timeline-item-title">Looking for junior roles as a software dev/engineer or Data Scientist</h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8 bg-color-three-reasons section-column">
            <div class="row">
                <div class="col">
                    <h3 class="section-heading uppercase">My Skills</h3>
                </div>
            </div>
                {% include 'main/skill_cards.html' with skills=skills %}    
</section>
{% endblock %}